@media (max-width: 1200px) {
    .header {
        justify-content: space-around;
    }
    .advantages {
        &__wrapper {
            padding-right: 50px;
        }
        &__wrapper {
            padding: 20px;
        }
    }
    .consultation {
        padding-left: 50px;
    }
}
    
@media (max-width: 991px) {
    .promo {
        &__wrapper {
            padding-right: 50px;
        }
    }
    .header {
        &__logo {
            width: 220px;
        }
    }
    .advantages {
        &__item {
            min-width: 175px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 12px;
            padding: 5px;
        }
    }
    .carousel {
        &__inner {
            
            img {
                
                margin: 0 auto; 
            } 
            ul {
                
                display: flex;
                justify-content: space-around;
                padding: 0;
                li {
                    list-style-type: none
                }
            }
        }
    }
}
@media (max-width: 767px) {

    .header {
        flex-direction: column;
        justify-content: space-between;
        min-height: 200px;
    }
    .promo {
        &__wrapper {
            padding: 0;
            align-items: center;
        }
        &__subheader {
            font-size: 16px;
        }
        &__header {
            font-size: 30px;
        }
        &__icons {
            justify-content: space-around;
        }
    }

    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
    }
    .carousel {
        &__inner {
            width: 500px;
            img {
                width: 500px;
                margin: 0 auto; 
            } 
            ul {
                width: 500px;
                display: flex;
                justify-content: space-around;
                padding: 0;
                li {
                    list-style-type: none
                }
            }
        }
    }
}
@media (max-width: 575px) {
    .promo {
        &__wrapper {
            margin-top: 50px;
            padding: 0;
        }
        &__header {
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__icons {
            width: 100%;
        }
    }
    .button {
        &_main {
            width: 270px;
        }
    } 
    .feed-form {
        width: 210px;
    }
    .title_left
    {
        font-size: 27px;
    }
    .consultation__descr {
        font-size: 18px;
    }
    .carousel {
        &__inner {
            width: 300px;
            img {
                width: 300px;
                margin: 0 auto; 
            }
            ul {
                width: 300px;
                display: flex;
                justify-content: space-around;
                padding: 0;
                li {
                    list-style-type: none
                }
            }
        }
    }
}